.rental-frame{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.title-section{
    justify-content: center;
    text-align: center;
}
.content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
    background-color: fffed17e;
}

.item-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.row-item{
    display: flex;
    flex-direction: row;

    align-items: center;

    width: clamp(50px, 350px, 400px);


    color: #F04C4C;

    background-color: #070703d2;
    border-radius: 25px;
}
.row-item-v{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    border-radius: 25px;
    padding: 15px;
    color: #F04C4C;

    background-color: #070703d2;
}
a{
    font-size: medium;
    height: fit-content;
    width: fit-content;
    /* identical to box height, or 112% */
    /* Error red */

    color: #F04C4C;
}
h1{    /* Error red */
    font-size: xx-large;
    color: #F04C4C;
}

.header-text{
    display: flex;
    align-items: center;
}

.btn-row{
    padding-top: 5%;
}
.fee-card{
    display: flex;
    border-radius: 2px;
    border:1px solid black;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}
.equipment-card{
    display: flex;
    border:1px solid black;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.equipment-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}

.contact-btn{
    margin-bottom: auto;
    /* button */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    align-items: center;
    padding: 8px 32px;
    gap: 8px;

    color: #000000;

    /* lightest grey */

    background: var(--rosette_dark_red);
    border-radius: 8px;
}